@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/book-antiqua");
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

html {
  font-family: sans-serif;
  color: #2e80c2;
}
body {
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
  word-break: keep-all;
  letter-spacing: -1px;
  line-height: 1.7;
  font-weight: 300;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: rgba(220, 220, 220, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-clip: padding-box;
  border-radius: 5px;
  background-color: #516371;
  border: 2px solid transparent;
}

label,
a,
p {
  font-family: "NanumSquare", san-serif;
  font-weight: 400;
  transform: skew(-0.1deg);
}

td,
tr {
  font-family: "NanumSquare", san-serif;
  font-weight: 400;
}

.light {
  font-family: "NanumSquare", san-serif;
  font-weight: 300;
  transform: skew(-0.1deg);
}

.regular {
  font-family: "NanumSquare", san-serif;
  font-weight: 400;
  transform: skew(-0.1deg);
}

.bold {
  font-family: "NanumSquare", san-serif;
  font-weight: 700;
  transform: skew(-0.1deg);
}

.ebold {
  font-family: "NanumSquare", san-serif;
  font-weight: 800;
  transform: skew(-0.1deg);
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.content {
  position: relative;
  padding-top: 120px;
}
.inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

h2 {
  font-size: 45px;
  font-weight: 600;
}
h3 {
  font-size: 40px;
  font-weight: 600;
}
h4 {
  font-size: 35px;
  font-weight: 500;
}
h5 {
  font-size: 28px;
}
h6 {
  font-size: 25px;
}
p {
  font-size: 18px;
}
b {
  font-weight: 900 !important;
}
a {
  color: #000;
}
img {
  vertical-align: top;
  max-width: 100%;
}

.pb0 {
  padding-bottom: 0;
}
.pt0 {
  padding-top: 0;
}
.pb1 {
  padding-bottom: 1%;
}
.pt1 {
  padding-top: 1%;
}
.pb2 {
  padding-bottom: 2%;
}
.pt2 {
  padding-top: 2%;
}
.pb3 {
  padding-bottom: 3%;
}
.pt3 {
  padding-top: 3%;
}
.pb4 {
  padding-bottom: 4%;
}
.pt4 {
  padding-top: 4%;
}
.pb5 {
  padding-bottom: 5%;
}
.pt5 {
  padding-top: 5%;
}
.mb0 {
  margin-bottom: 0;
}
.mt0 {
  margin-top: 0;
}
.mt1 {
  margin-top: 1%;
}
.mb1 {
  margin-bottom: 1%;
}
.mt2 {
  margin-top: 2%;
}
.mb2 {
  margin-bottom: 2%;
}
.mt3 {
  margin-top: 3%;
}
.mb3 {
  margin-bottom: 3%;
}
.mt4 {
  margin-top: 4%;
}
.mb4 {
  margin-bottom: 4%;
}
.mt5 {
  margin-top: 5%;
}
.mb5 {
  margin-bottom: 5%;
}

.mt10 {
  margin-top: 10px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mt60 {
  margin-top: 60px !important;
}
.mt80 {
  margin-top: 80px !important;
}
.mt100 {
  margin-top: 100px !important;
}
.mt120 {
  margin-top: 120px !important;
}
.mt150 {
  margin-top: 150px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mb60 {
  margin-bottom: 60px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.mb80 {
  margin-bottom: 80px !important;
}
.mb100 {
  margin-bottom: 100px !important;
}
.mb120 {
  margin-bottom: 120px !important;
}
.mb150 {
  margin-bottom: 150px !important;
}

.x0_1 {
  font-size: 0.1em;
}
.x0_2 {
  font-size: 0.2em;
}
.x0_3 {
  font-size: 0.3em;
}
.x0_4 {
  font-size: 0.4em;
}
.x0_5 {
  font-size: 0.5em;
}
.x0_6 {
  font-size: 0.6em;
}
.x0_7 {
  font-size: 0.7em;
}
.x0_8 {
  font-size: 0.8em;
}
.x0_9 {
  font-size: 0.9em;
}

.x1_1 {
  font-size: 1.1em;
}
.x1_2 {
  font-size: 1.2em;
}
.x1_3 {
  font-size: 1.3em;
}
.x1_4 {
  font-size: 1.4em;
}
.x1_5 {
  font-size: 1.5em;
}
.x1_6 {
  font-size: 1.6em;
}
.x1_7 {
  font-size: 1.7em;
}
.x1_8 {
  font-size: 1.8em;
}
.x1_9 {
  font-size: 1.9em;
}

.op0 {
  opacity: 0;
}
.op1 {
  opacity: 1;
}

.flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.flex-ac {
  align-items: center;
}
.flex-jc {
  justify-content: center;
}
.flex-c {
  justify-content: center;
  align-items: center;
}
.flex-sb {
  justify-content: space-between;
}
.flex-fs {
  justify-content: flex-start;
}

.flex p {
  white-space: pre-line;
}

.block-a {
  width: auto;
}
.block-1 {
  width: 100%;
}
.block-2 {
  width: 50%;
}
.block-3 {
  width: 33.3%;
}
.block-4 {
  width: 25%;
}
.block-5 {
  width: 20%;
}
.block-6 {
  width: 16.66%;
}
.block-8 {
  width: 12.5%;
}

.block-90 {
  width: 90%;
}
.block-80 {
  width: 80%;
}
.block-70 {
  width: 70%;
}
.block-60 {
  width: 60%;
}
.block-40 {
  width: 40%;
}
.block-30 {
  width: 30%;
}
.block-10 {
  width: 10%;
}

.flex > li {
  position: relative;
}
.flex > li > div {
  position: relative;
}
.flex > li > div.m30 {
  margin: 30px;
}
.flex > li > div.m20 {
  margin: 20px;
}
.flex > li > div.m10 {
  margin: 10px;
}
.flex > li > div.m5 {
  margin: 5px;
}

.flex > li > div .before {
  background: #bfbfbf;
  padding: 6px 10px;
  width: 100%;
  text-align: center;
}
.flex > li > div .after {
  background: #284881;
  color: #fff;
  padding: 6px 10px;
  width: 100%;
  text-align: center;
}

.pt100 {
  padding-top: 100px !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.box-shadow2 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.dib {
  display: inline-block;
}

.br20 {
  border-radius: 20px;
}
.br100 {
  border-radius: 100%;
}

.w100 {
  width: 100%;
}
.h100 {
  height: 100%;
}

.lh0-7 {
  line-height: 0.7;
}
.lh0-8 {
  line-height: 0.8;
}
.lh0-9 {
  line-height: 0.9;
}
.lh1 {
  line-height: 1;
}
.lh1-1 {
  line-height: 1.1;
}
.lh1-2 {
  line-height: 1.2;
}
.lh1-3 {
  line-height: 1.3;
}
.lh1-4 {
  line-height: 1.4;
}
.lh1-6 {
  line-height: 1.6;
}
.lh1-7 {
  line-height: 1.7;
}
.lh1-8 {
  line-height: 1.8;
}

.maxall {
  max-width: 100%;
  margin: 0 auto;
}

.max1600 {
  max-width: 1600px;
  margin: 0 auto;
}
.max1400 {
  max-width: 1400px;
  margin: 0 auto;
}
.max1100 {
  max-width: 1100px;
  margin: 0 auto;
}
.max1000 {
  max-width: 1000px;
  margin: 0 auto;
}
.max900 {
  max-width: 900px;
  margin: 0 auto;
}
.max800 {
  max-width: 800px;
  margin: 0 auto;
}
.max700 {
  max-width: 700px;
  margin: 0 auto;
}
.max600 {
  max-width: 600px;
  margin: 0 auto;
}

/* 폰트 CSS */
.gsm {
  font-family: "GmarketSansMedium";
  transform: skew(-0.1deg);
}
.noto {
  font-family: "Noto Sans KR", sans-serif !important;
}
/* 폰트 CSS */

.df {
  display: flex;
  justify-content: center;
  align-items: center;
}
.df-sb {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bxs1 {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.namepen {
  width: fit-content;
  padding: 0 0.25%;
  position: relative;
  z-index: 1;
  margin: 0 auto;
}
.namepen::after {
  position: absolute;
  display: block;
  content: "\00a0";
  width: 100%;
  left: 0;
  right: 0;
  top: 50%;
  height: 60%;
  background-color: #c6d7e8;
  transform: skew(-5deg);
  z-index: -1;
}

.bg-gray {
  background-color: #fbfbfb;
  margin-top: 120px;
  padding-bottom: 120px;
}

.m_br {
  display: none;
}
.m_br380 {
  display: none;
}
.m_br425 {
  display: none;
}
.m_br600 {
  display: none;
}
.m_br1200 {
  display: none;
}

.pre {
  white-space: pre-line;
}

.db-1200,
.df-1200 {
  display: none !important;
}
.db-1025,
.df-1025 {
  display: none !important;
}
.db-769,
.df-769 {
  display: none !important;
}
.db-600,
.df-600 {
  display: none !important;
}
.db-425,
.df-425 {
  display: none !important;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1200px) {
  .inner {
    padding: 0 10px;
  }
  .m_br1200 {
    display: block;
  }

  .b-block-1 {
    width: 100%;
  }
  .b-block-2 {
    width: 50%;
  }
  .b-block-3 {
    width: 33.3%;
  }
  .b-block-4 {
    width: 25%;
  }
  .b-block-5 {
    width: 20%;
  }
  .b-block-6 {
    width: 16.6%;
  }

  .db-1200 {
    display: block !important;
  }
  .df-1200 {
    display: flex !important;
  }
  .dn-1200 {
    display: none !important;
  }
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 35px;
  }
  h4 {
    font-size: 30px;
  }
  h5 {
    font-size: 25px;
  }
  h6 {
    font-size: 22px;
  }
  p {
    font-size: 16px;
  }

  .db-1025 {
    display: block !important;
  }
  .df-1025 {
    display: flex !important;
  }
  .dn-1025 {
    display: none !important;
  }
}

@media screen and (max-width: 769px) {
  .content {
    padding-top: 80px;
  }
  .bg-gray {
    margin-top: 80px;
    padding-bottom: 80px;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 20px;
  }
  p {
    font-size: 15px;
  }
  .m_br {
    display: block !important;
  }

  .mt60 {
    margin-top: 40px !important;
  }
  .mt80 {
    margin-top: 40px !important;
  }
  .mt100 {
    margin-top: 50px !important;
  }
  .mt120 {
    margin-top: 60px !important;
  }
  .mt150 {
    margin-top: 70px !important;
  }

  .mb60 {
    margin-bottom: 40px !important;
  }
  .mb80 {
    margin-bottom: 40px !important;
  }
  .mb100 {
    margin-bottom: 50px !important;
  }
  .mb120 {
    margin-bottom: 60px !important;
  }
  .mb150 {
    margin-bottom: 70px !important;
  }

  .m-block-1 {
    width: 100%;
  }
  .m-block-2 {
    width: 50%;
  }
  .m-block-3 {
    width: 33.3%;
  }
  .m-block-4 {
    width: 25%;
  }
  .m-block-5 {
    width: 20%;
  }
  .m-block-6 {
    width: 16.6%;
  }

  .db-769 {
    display: block !important;
  }
  .df-769 {
    display: flex !important;
  }
  .dn-769 {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .db-600 {
    display: block !important;
  }
  .df-600 {
    display: flex !important;
  }
  .dn-600 {
    display: none !important;
  }
  .m_br600 {
    display: block;
  }
}

@media screen and (max-width: 425px) {
  .content {
    padding-top: 60px;
  }
  .bg-gray {
    margin-top: 60px;
    padding-bottom: 60px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  h5 {
    font-size: 20px;
  }
  h6 {
    font-size: 18px;
  }
  p {
    font-size: 14px;
  }

  .mpb0 {
    padding-bottom: 0;
  }
  .mpt0 {
    padding-top: 0;
  }
  .mpb1 {
    padding-bottom: 1%;
  }
  .mpt1 {
    padding-top: 1%;
  }
  .mpb2 {
    padding-bottom: 2%;
  }
  .mpt2 {
    padding-top: 2%;
  }
  .mpb3 {
    padding-bottom: 3%;
  }
  .mpt3 {
    padding-top: 3%;
  }
  .mpb4 {
    padding-bottom: 4%;
  }
  .mpt4 {
    padding-top: 4%;
  }
  .mpb5 {
    padding-bottom: 5%;
  }
  .mpt5 {
    padding-top: 5%;
  }
  .mpb6 {
    padding-bottom: 6%;
  }
  .mpt6 {
    padding-top: 6%;
  }
  .mpb7 {
    padding-bottom: 7%;
  }
  .mpt7 {
    padding-top: 7%;
  }
  .mmb0 {
    margin-bottom: 0;
  }
  .mmt0 {
    margin-top: 0;
  }
  .mmt1 {
    margin-top: 1%;
  }
  .mmb1 {
    margin-bottom: 1%;
  }
  .mmt2 {
    margin-top: 2%;
  }
  .mmb2 {
    margin-bottom: 2%;
  }
  .mmt3 {
    margin-top: 3%;
  }
  .mmb3 {
    margin-bottom: 3%;
  }
  .mmt4 {
    margin-top: 4%;
  }
  .mmb4 {
    margin-bottom: 4%;
  }
  .mmt5 {
    margin-top: 5%;
  }
  .mmb5 {
    margin-bottom: 5%;
  }
  .mmt6 {
    margin-top: 6%;
  }
  .mmb6 {
    margin-bottom: 6%;
  }
  .mmt7 {
    margin-top: 7%;
  }
  .mmb7 {
    margin-bottom: 7%;
  }

  .mt20 {
    margin-top: 10px !important;
  }
  .mt40 {
    margin-top: 20px !important;
  }
  .mt60 {
    margin-top: 30px !important;
  }

  .mb20 {
    margin-bottom: 10px !important;
  }
  .mb40 {
    margin-bottom: 20px !important;
  }
  .mb60 {
    margin-bottom: 30px !important;
  }

  .m_br425 {
    display: block !important;
  }

  .pt100 {
    padding-top: 60px !important;
  }

  .s-block-1 {
    width: 100%;
  }
  .s-block-2 {
    width: 50%;
  }
  .s-block-3 {
    width: 33.3%;
  }
  .s-block-4 {
    width: 25%;
  }
  .s-block-5 {
    width: 20%;
  }
  .s-block-6 {
    width: 16.6%;
  }

  .db-425 {
    display: block !important;
  }
  .df-425 {
    display: flex !important;
  }
  .dn-425 {
    display: none !important;
  }
}

@media screen and (max-width: 380px) {
  .m_br380 {
    display: block !important;
  }
}

@media screen and (max-width: 350px) {
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
}
